<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.zc.mapper.secondary.SecondarySbdMapper">

    <select id="findAll" resultType="com.demo.zc.base.Sbd">
      select id,text from sbd
    </select>

</mapper>